html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video ,hr{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    font-family: 'Roboto', sans-serif ;
    font-style: italic;
} 

.banner{
    background: url(banner.png) center center;
    background-size: cover;
    
}
.bannerwrap{
    width: 304px;
    padding: 308px 0px;
    color: white;
    margin: 0 auto;
}
.bannerwrap .p1{
    font-size: 24px;
    line-height: 42px;
    font-weight: 700;
}
.bannerwrap .p2{
    font-size: 80px;
    line-height: 106px;
    font-weight: 900;
}
.bannerwrap .p3{
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    font-style: italic;
    margin-top: 32px;
    margin-bottom: 40px;
}
.bannerwrap ul{
    display: flex;
    justify-content: space-between;
}
.bannerwrap li{
    height: 60px;
    width: 60px;
}
.aboutwrap{
    width:412px ;
    margin: 0 auto;
}
.aboutwrap h2{
    margin-top: 56px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 64px;
    line-height: 84px;
    font-weight: 500;
}
.imgcenter{
    margin: 0 auto;
    height: 384px;
    width: 384px;
}
.aboutwrap .ul1{
    margin-top: 20px;
    margin-bottom: 24px;
    text-align: center;
}
.al1{
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 42px;
    font-weight: 700;
}
.al2{
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 42px;
    font-weight: 700;
}
.al3{
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}
hr{
    width: 384px;
    border: 1px solid #000000;
    margin: 0 auto;
}
.ul2{
    margin: 0 auto;
    margin-top: 28px;
}
.dot{
    width: 22px;
    height: 22px;
    border-radius: 999em;
    background-color:#891818;
    margin-right: 16px;
}
.dotlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 42px;
    font-weight: 700;
}
.MyBrand{
    background-color: #000;
    margin-top: 56px;
    padding-bottom: 160px;
    color: #fff;
}
h2{
    padding-top: 56px;
    margin-bottom: 12px;
    text-align: center;
    font-size: 64px;
    line-height: 84px;
    font-weight: 500; 
}
.MyBrand h3{
    margin-bottom: 32px;
    text-align: center;
    font-size: 24px;
    line-height: 42px;
    font-weight: 500;
    
}
.MyBrand p{
    margin-bottom: 68px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    
}
.mybrandpack1{
    margin: 0 auto;
    width: 792px;
    height: 416px;
    margin-bottom: 40px;
}
.mybrandpack2 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
   
}
.img2{
    background: url(brand_img2.png) center center;
    block-size: cover;
}
.img3{
    background: url(brand_img3.png) center center;
    block-size: cover;
}
.img2,.img3{
    width: 588px;
    height: 416px;
    margin: 0 12px;
    block-size: cover;
}
.OtherWorks{
    padding-bottom: 96px;
}
.OtherWorks p{
    margin-top: 4px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 56px;
}
.OtherWorks ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
    
}
.OtherWorks img{
   margin: 0 12px 16px 12px;

    
}

.otherpack1{
    display: flex;
    justify-content: center;
    
}
.otherpack2{
    display: flex;
    justify-content: center;
}

    
.otherpack3{
    display: flex;
    justify-content: center;
}
.Contact{
    background-color: #000;
    padding-bottom: 48px;
}
h3{
    padding-top: 64px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 64px;
    line-height: 84px;
    font-weight: 500; 
    color: white;
}
.Contact li{
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500; 
    color: white;
    margin-bottom: 16px;
}

